//------------------------------------------- Home -------------------------------------------//

.app-card {
  @extend .dfc-ac-jc;
  @include cardMixin(#fff);
  padding: 4rem 0;
  min-width: 32rem;
  a {
    width: 15rem;
  }
  @media (max-width: 768px) {
    min-width: 16rem;
    padding: 2rem;
    a {
      width: 100%;
    }
  }
}

//------------------------------------------- Register -------------------------------------------//

.register-page {
  @extend .dfc-ac-jc, .ht-100vh;
  .register-page__heading {
    font-size: 4rem;
    color: $heading-color;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
  .register-page__sub-heading {
    @extend .m-t-8, .m-b-16;
    font-size: 1.25rem;
    color: $sub-heading-color;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  .register-form {
    @extend .dfc-ac-jsa;
    @include cardMixin(#fff);
    min-width: 25rem;
    padding: 2.5rem;
    @media (max-width: 768px) {
      min-width: 20rem;
      padding: 2rem;
      input[type="date"] {
        width: 14rem;
      }
    }
  }

  .register-input {
    @extend .wd-100p;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 1.25rem;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      justify-items: center;
    }
  }
}

//------------------------------------------- Dashboard -------------------------------------------//

.dashboard {
  background: $primary-grey;
  padding: 1.25rem;
  @media (max-width: 768px) {
    padding: 0.75rem;
  }
  .dashboard__content {
    border-radius: 2rem;
    background: $primary-bg;
    padding: 2.625rem;
    @media (max-width: 768px) {
      padding: 1.25rem;
      padding-top: 1.75rem;
      border-radius: 1rem;
    }
    .content__box {
      @extend .dfc-as;
      border-radius: 2rem;
      padding: 1.125rem;
      margin-top: 2.5rem;
      border: 1px solid rgba(217, 225, 231, 0.8);
      height: 100%;
      @media (max-width: 768px) {
        padding: 0.75rem;
        margin-top: 1rem;
        border-radius: 1rem;
      }
      .table__filter {
        @extend .df-ac, .wd-100p;
        margin-bottom: 1.5rem;
        @media (max-width: 768px) {
          flex-direction: column;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

//------------------------------------------- Profile -------------------------------------------//

.profile-page {
  @extend .ht-100vh, .wd-100vw, .dfc-ac-jc;
  .profile-page__card {
    @extend .m-t-32;
    @include cardMixin(#fff);
    min-width: 30rem;
    padding: 0.75rem;
  }
}
